.subject {
  grid-area: subject;
  width: 50%;
  margin: auto;
  grid-template-rows: 10% 40% 40%;

  .description {
    color: #D1D1D2;
    font-size: 14px;
    line-height: 1.4em;
  }

  .learning-container {
    left: 0;

    h4 {
      color: #D1D1D2;
    }

    .icon-container {
      i {
        color: mediumpurple;
        font-size: 35px;
        margin-left: .5em;
        position: relative;
      }

      i:hover::after {
        content: attr(data-tooltip);
        color: #D1D1D2;
        position: absolute;
        border-radius: 9px;
        bottom: 125%;
        left: -50%;
        width: 90px;
        height: auto;
        font-size: 15px;
        background: #843a80;
        text-align: center;
        font-family: 'Comfortaa', cursive;
      }
    }
  }
}