@import "navigation-menu";
@import "blog";
@import "about-me";
@import "footer";
@import "mixins/mixins";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 85% 5%;
  grid-template-areas: "header"
                       "subject"
                       "footer";
  height: 100vh;
  background: #17181A;
  overflow: auto;
}