.navigation-menu {
  text-align: center;
  grid-area: header;

  .title {
    font-size: 1.5em;
    margin-right: 1em;
    color: #fff;
  }

  .nav-menu-items {
    a {
      text-decoration: none;
      font-size: 13px;
      margin-right: 1em;
      color: #D1D1D2;
    }
  }
}